.DS_Store

node_modules/
client/node_modules/
server/node_modules/

dist/
client/dist/
server/dist/

*.tsbuildinfo
client/node_modules/.tmp/
server/node_modules/.tmp/

*.db
*.db-shm
*.db-wal

.env
.env.local
.env.*.local
